.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35);
  z-index: 99;
}

.svg {
  position: relative;
  height: 150px;
  width: 150px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.svg .circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  /* stroke: #00ffff; */
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 435;
  stroke-dashoffset: 435;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    stroke-dashoffset: 435;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 870;
  }
}
