@import "../../../colors.css";

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 35px;
/*  background-color: var(--primary-color); */
  background-color: transparent;
  color: #023047;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 99;
}
.menu{
    display: none;
}

.navigation .logo {
  font-size: 1.7rem;
  color: var(--assent-color);
}

@media (max-width: 600px) {
  .menu {
    display: block;
    z-index: 100;
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--assent-color);
    text-align: center;
  }

  .hamburger .line {
    width: 50px;
    height: 5px;
    background-color: var(--assent-color);
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger.active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .hamburger.active .line:nth-child(2) {
    width: 0px;
  }

  .hamburger.active .line:nth-child(1),
  .hamburger.active .line:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .hamburger.active .line:nth-child(1) {
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
  }

  .hamburger.active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
  }
}
