@import "../../../colors.css";

.navbar {
height: 80px;
display: flex;
background-color: transparent;
justify-content: center;
align-items: center;
position: sticky;
top: 0;
font-size: 1.3rem;
border-bottom: 1px solid white; }

.navbar-container {
display: flex;
justify-content: center;
align-items: center;
height: 80px;
max-width: 1500px;}

.navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  /*color: var(--font-color); */
}

.navlinks li {
  list-style: none;
  margin-left: 2.5rem;
}

.navlinks li a {
  text-decoration: none;
  color: inherit;
}

.signup {
  padding: 5px 16px;
  border: 2px solid rgba(255,255,255,0.6);;
  border-radius: 50px;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
/*  background-color: var(--assent-color);
    color: var(--font-color); */
}

 /* .signup:hover{
    background-color: var(--font-color);
    color: var(--primary-color);
} */

.login {
  padding: 5px 16px;
  border: 2px solid rgba(255,255,255,0.6);;
  border-radius: 50px;
  color: black;
  font-size: 15px;
  background-color: #fff;
  line-height: 20px;
}

.navlinks li a:hover:not(.signup a),
.active {
  color: var(--assent-color);
  transition: 0.3s ease;
}

.active::before {
  content: "";
  width: 30%;
  height: 200px;
  background-color: #000;
  position: relative;
}

@media (max-width: 600px) {
  .navlinks {
    /* display: none; */
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    background-color: var(--secondary-color);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    /* border: 1px solid #000; */
    width: 100%;
    height: 100vh;
    z-index: 99;
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s ease;
  }

  .fadeInRight {
    opacity: 1;
    transform: translateX(0);
  }

  .navlinks li {
    margin: 0;
  }
}
