:root {
  --primary-color: #faedcd;
  --secondary-color: #fefae0;
  --assent-color: #d4a373;
  --font-color: #000
}
/* :root {
  --primary-color: #424242;
  --secondary-color: #A3A3A3;
  --assent-color: #C9C9C9;
  --font-color: #FEFFEA;
  --lnf-color: #fff;
} */


