.bgImage {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  height: 100%;
  z-index: 1;
}

.petView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  font-size: 20px;
  z-index: 9;
  transform: translateY(-100%);
}

.petView .petPicture {
  padding: 1rem;
  /* border: 1px solid #000; */
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.imageContainer {
  border-radius: 20px;
}
.imageContainer img {
  width: 310px;
  height: auto;
  border-radius: 20px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.info {
  padding: 1rem;
  /* border: 1px solid #000; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.info .details {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
}

.info h3 {
  margin-bottom: 8px;
}

.info .details hr {
  margin-top: 5px;
}

.ownerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.petInfo,
.ownerInfo {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem;
  border-radius: 15px;
  box-shadow: rgba(61, 61, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.petView Button{
    margin-top: 5px;
    width: fit-content;
    color: inherit;
}

@media (max-width: 600px){
  .petView{
    flex-direction: column;
    margin-top: 6rem;
  }
}